body {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  font-family: "Creepster", monospace;
  text-align: center;
  font-size: 3em;
}

.faq {
  line-height: 1.75rem;
}

.speaker img {
  max-width: 100%;
}

td, th {
  padding: 3px;
  border: 1px solid #000000;
}

@media (min-width: 600px) {
  .speakers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
  }

  .speaker img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  .speaker > * {
    flex: 1;
  }
}
